            input {
            display: block;
            margin-bottom: 10px;
            width: 60%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }

        .authoriz_body {
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            background: linear-gradient(to bottom, #ffb6c1 0%, #ff70a6 40%, #6b1c3b 100%);
            min-height: 100vh;
            position: relative;
            overflow-x: hidden;
        }
        .form-container { 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            min-height: 80vh;
        } 
        form {
            width: 50%; 
        }
