<header class="header">
    <div class="container">
        <div class="logo">
            <span>Какое-то название</span>
        </div>
        <button class="burger" aria-label="Меню">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Главная</a></li>
                <li><a href="recipe.html" id="random-recipe-link">Случайный рецепт</a></li>
                <li><a href="favorites.html" id="favorites-link">Избранное</a></li>
                <li><a href="account.html">Аккаунт</a>
                <li><a href="authorization.html">Авторизация</a></li>
            </ul>
        </nav>
    </div>
</header>