<header class="header">
    <div class="container">
        <div class="logo">
            <span>fast & tasty</span>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="index.html" class="active">Главная</a></li>
                <li><a href="recipe.html" id="random-recipe-link">Случайный рецепт</a></li>
                <li><a href="favorites.html" id="favorites-link">Избранное</a></li>
                <li><a href="account.html">Аккаунт</a></li>

            </ul>
        </nav>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Найти рецепт...">
            <button id="search-btn" aria-label="Поиск рецепта" title="Поиск рецепта"></button><i class="fas fa-search"></i></button>
        </div>
    </div>
</header>